.payment {
    width:18%;
    height:500px;
    background-color:#fff3e3 ;
    margin-left: 12%;
}
.payment>div {
   display: flex;
   gap:20px;
   margin-left: 10%;
   padding-top:20px;
}
.payment>div>p{
    margin-top: 10px;
    font-size: 18px;
}
.payment>div>img{
    width: 40px;
}